<svg
    width="16"
    height="16"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
>
    <title>Icono Transformado</title>
    <g transform="matrix(2.82313 0 0 2.82313 -9.79794 -10.858675)">
        <path d="M7.74 3.843L3.47 8.33v4.013l4.262-4.27 4.24-4.232z" fill="currentColor"></path>
        <path d="M3.47 12.344l4.262-4.27 4.24 4.27z" fill="currentColor"></path>
        <path d="M3.47 3.843H7.74L3.47 8.33z" fill="currentColor"></path>
    </g>
</svg>