---
import Layout from "../layouts/Layout.astro"

import About from "../components/sections/About.astro"
import Education from "../components/sections/Education.astro"
import Experience from "../components/sections/Experience.astro"
import Hero from "../components/sections/Hero.astro"
import Projects from "../components/sections/Projects.astro"
import Skills from "../components/sections/Skills.astro"
import KeyboardManager from "../components/KeyboardManager.astro"
import { motion } from "framer-motion";
import { LampContainer } from "../components/ui/lamp";
import { basics } from "../../cv.json"
import { Boxes } from "../components/ui/boxes-background"
import ThreejsBall from "../components/sections/ThreejsBall.astro"
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <LampContainer client:load>
    <motion.h1
      initial={{ opacity: 0.5, y: 100 }}
      whileInView={{ opacity: 1, y: 0 }}
      transition={{
        delay: 0.3,
        duration: 0.8,
        ease: "easeInOut",
      }}
      className="bg-gradient-to-br from-slate-300 to-slate-500 bg-clip-text tracking-tight"
    >
    </motion.h1>
  </LampContainer>
  <main>
    <div class="h-full relative w-full overflow-hidden flex flex-col items-center justify-center rounded-lg">
        <Boxes client:visible />
        <ThreejsBall client:load />
        <Hero />
        <About />
        <Experience />
        <Education />
        <Projects />
        <Skills />
      </div>
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 0px 4rem 4rem 4rem;
    margin: auto;
    width: 100%;
    background-color: aliceblue;
  }

  @media (prefers-color-scheme: dark){
    main{
      background-color:black;
    }
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
